.content {
  position: absolute !important;
  top: 0px;
  width: 100%;
  height: 96% !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4%;
  color: white;
  background-color: #7bbc42;
}

.grid {
  position: relative;
  width: 100%;
  height: 100%;
}

.fillers {
  display: none;
}

.box,
.grid .filler {
  position: relative;
  float: left;
  background-color: #039be5;
  overflow: hidden;
}

// .inner-img {
//   position: absolute;
//   // height: 100%;
//   // width: 100%;
// }
