<div class="content">

  <masonry ng-if="newsItemsLoaded">
    <div class="two-two box" ng-repeat="item in newsItems">
      <img ng-src="{{ item.image_url }}"></img>
    </div>

    <div class='fillers'>
      <div class="one-one filler" ng-repeat="item in newsItems">
        <img ng-src="{{ item.image_url }}"></img>
      </div>
    </div>
  </masonry>

</div>

<div class="footer">
  footer
</div>
